@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .responsive-heading{
        @apply font-rubik md:text-center lg:text-center lg:pl-6 lg:pr-6;
        font-size: clamp(1.5rem, 3rem, 3vw);
    }
    .responsive-heading-2{
        font-size: clamp(1.5rem, 3rem, 3vw);
    }
    .responsive-navbar{
        @apply list-none flex gap-10 font-bold text-xl;

        @media (max-width: 1023px){
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
        }
    }
    .hidden-header {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }
    .visible-header {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }
            /* Masonry container */
            .masonry-grid {
              display: grid;
              grid-template-columns: 1fr; 
              gap: 8px; 
              max-width: 1200px;
              margin: 0 auto;
              padding: 8px; 
              }
  
              /* Adjust for larger screens */
              @media (min-width: 768px) {
              .masonry-grid {
                  grid-template-columns: repeat(2, 1fr); 
              }
              }
  
              @media (min-width: 1024px) {
              .masonry-grid {
                  grid-template-columns: repeat(3, 1fr); 
              }
              }
  
              /* Masonry item styles */
              .masonry-item img {
              width: 100%; 
              display: block;
              border-radius: 6px; 
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              }     
                
}
